* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  text-align: center;
  background-image: url(./assets/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  font-family: "Inter", sans-serif;

   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  flex-direction: column;
}


#back{

  

  border-radius: 20px;
  
}

#back a{
  font-family: 'Hind Madurai', sans-serif;
  font-weight:500;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 70px;
  padding:8px;

  text-decoration: none;
  background: none;
  color:white;
  background: #db2777;
  border-radius: 20px;
  border:none;
  font-size: 18px;
  opacity:1;
  transition: 0.4s;
}

#back a:hover{

filter:drop-shadow(0px 0px 8px #db2777);
}

h1 {
  margin-top:50px;
  font-size: 64px;
  line-height: 86px;
  font-weight: 700;
  font-family: "Cinzel", serif;
}

h1 span {
  color: #db2777;
}

p {
  padding-top: 4px;
  margin-bottom: 72px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Cinzel", serif;

  border-radius: 80px;
  transition: 0.4s;
}

a:hover {
  color: white;
  background: #db2777;
  
}

.btn-primary {
  color: white;
  background: #db2777;
}


