* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  text-align: center;
  padding-top: 200px;
  background-image: url(./assets/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 64px;
  line-height: 86px;
  font-weight: 700;
  font-family: "Cinzel", serif;
}

h1 span {
  color: #db2777;
}

p {
  padding-top: 4px;
  margin-bottom: 72px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Cinzel", serif;

  border-radius: 80px;
}

a:hover {
  color: white;
  background: #db2777;
  transition: 0.6s;
}

.btn-primary {
  color: white;
  background: #db2777;
}

.btn-primary:hover {
  font-size: 22px;
}
